  @import "../../styles/mixin";

page {
  background-color: #f7f7f7;
}

.order-list {
  @include wh(100%, 100%);
  &-nav {
    padding: 10px 30px;
    height: 100px;
    background: #F5F5F5;
    //border-bottom: 1Px solid #eee;
    @include fj(flex-start);
    box-sizing: border-box;
    // width: 100%;
    white-space: nowrap;
    &-container {
      flex-shrink: 0;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      .text {
        font-family: PingFangSC-Regular;
        padding: 0 26px;
        font-size: 30px;
        color: #404547;
      }
      .text-active{
        color: #FC766B;
        font-family: PingFangSC-Medium;
      }
      .border-bottom {
        @include cl();
        bottom: 0;
        width: 56px;
        height: 4px;
        background: #FC766B;
      }
    }
  }
}

.cancel-modal{
  @include wh(600px,350px);
  .header{
    font-family: PingFangSC-Medium;
    font-size: 30px;
    margin: 30px 0 0 0;
  }
  .content{
    @include wh(360px,60px);
    line-height: 60px;
    margin: 0 auto;
  }
}
//.stage-modal{
//  @include wh(600px,200px);
//  .header{
//    font-family: PingFangSC-Medium;
//    font-size: 30px;
//    margin: 30px 0 0 0;
//  }
//  .content{
//    @include wh(360px,60px);
//    line-height: 60px;
//    margin: 0 auto;
//  }
//}
