@import "../../styles/mixin";
.container_express{
  font-family: PingFangSC-Regular;
  padding-top: 1px;
  .title{
    //text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: PingFangSC-Medium;
  }
  .item{
    position: relative;
    @include wh(550px,auto);
    display: flex;
    min-height: 80px;
    margin: 50px auto 0 auto;
    .item-img{
      .img{
        @include wh(35px,35px)
      }
    }
    .item-text{
      @include wh(550px,100px);
      font-size: 23px;
      margin:0 0 0 20px;
      //border-left: 1px red solid;
      .remark{
        height: 105px;
        width: 550px;
        line-height: 35px;
          //display: -webkit-box;
          //-webkit-box-orient:vertical;
          //-webket-line-clamp:3;
        overflow: hidden;/*超出部分隐藏*/
        text-overflow:ellipsis;/* 超出部分显示省略号 */
      }
      .time{
        margin-top: 10px;
      }
    }
    .line{
      @include wh(3px,130px);
      background: #f60;
      position: absolute;
      top: 30px;
      left: 18px;
    }
    .line:nth-child(1){
      display: none;
    }
  }
}
.no-express{
  @include wh(100px,100px);
}
