@import "../../styles/mixin";

.container_member{
  .header{
    @include wh(100%, 730px);
    background: #fff url(../../../images/member/bg.png) no-repeat;
    background-size: 100%;
    position: relative;
    .due_time{
      color: #fff;
      font-size: 24px;
      text-align: right;
      padding: 18px 18px 0 0;
    }
    .avatar{
      //position: absolute;
      //top: 90px;
      //left: 260px;
      width: 100%;
      text-align: center;
      .box{
        margin: 0 auto;
        @include wh(236px, 236px);
        @include fcc(center);
        border-radius: 50%;
        background:  url(../../../images/member/avatar_bg.png) no-repeat ;
        background-size: 100% 100%;
        .box_img{
          @include wh(168px,168px);
          border-radius:50% ;
        }
      }
      .user_status{
        @include fj(center);
        .text{
          font-size: 30px;
          color: #333;
          margin-top: 3px;
        }
        .icon{
          .icon_img{
            @include wh(40px,40px);
            margin-left: 15px;
          }
        }
      }
      .text_y{
        font-size: 22px;
        color: #898E93;
      }
    }
    .quota{
      margin-top: 30px;
      @include fj(space-between);
      .quota_text{
        font-size: 22px;
        color: #FC766B;
        margin: 0 25px 0 25px;
        .number{
          margin-left: 35px;
        }
      }
    }
  }
  .pay_member{
    @include wh(100%,110px);
    margin: 0 25px 0 25px;
    box-shadow: inset 0 1px 0 0 #E4E4E4;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    .subtotal{
      font-size: 26px;
      color: #333333;
    }
    .price{
      font-size: 52px;
      color: #FC766B;
      margin-left: 20px;
      .bol{
        font-size: 24px;
      }
    }
    .agreement{
      font-size: 22px;
      color: #848A8E;
    }
    .pay_btn{
      @include wh(345px,80px);
      background-image: linear-gradient(90deg, #FA4E62 0%, #FC766B 100%);
      border-radius: 100px;
      border: none;
      font-size: 32px;
      color: #fff;
      line-height: 80px;
      justify-content: right;
    }
  }
}
