@import "../../styles/mixin";
page{
  background-color: #f7f7f7;

}
.container_member{
  @include wh(750px,100%);
  background: #F2F2F2;
  padding-bottom: 80px;
  .header{
    box-sizing: border-box;
    @include wh(100%, 545px);
    background: #fff url(../../../images/member/bg.png) no-repeat;
    background-size: 100%;
    position: relative;
    .due_time{
      color: #fff;
      font-size: 24px;
      text-align: right;
      padding: 18px 18px 0 0;
    }
    .avatar{
      //position: absolute;
      //top: 90px;
      //left: 260px;
      width: 100%;
      text-align: center;
      .box{
        margin: 0 auto;
        @include wh(236px, 236px);
        @include fcc(center);
        border-radius: 50%;
        background:  url(../../../images/member/avatar_bg.png) no-repeat ;
        background-size: 100% 100%;
        .box_img{
          @include wh(168px,168px);
          border-radius:50% ;
        }
      }
      .user_status{
        @include fj(center);
        .text{
          font-size: 30px;
          color: #333;
          margin-top: 3px;
        }
        .icon{
          .icon_img{
            @include wh(40px,40px);
            margin-left: 15px;
          }
        }
      }
      .text_y{
        font-size: 22px;
        color: #898E93;
      }
      .mem_time{
        font-size: 24px;
        color: #FC766B;
      }
    }
    .make_times{
      @include wh(696px,142px);
      margin: 25px 0 0 30px;
      box-shadow: 0 0 4px 2px rgba(230,222,222,0.50);
      border-radius: 8px;
      border: 1px solid #fff;
      background-color: #fff;
      .title{
        font-size: 22px;
        color: #FC766B;
        margin: 25px 0 0 35px;
      }
      .member_t{
        display: flex;
        justify-content: center;
        margin: 0 0 0 20px;
        .img{
          margin: 40px 0 0 20px ;
          width: 400px;
          height: 20px;
        }
        .times{
          margin: 5px 0 0 50px;
          font-size: 22px;
          color: #FC766B;
          .num{
            margin: 8px 0 0 50px;
          }
        }
      }
    }
    .quota{
      margin-top: 30px;
      @include fj(space-between);
      .quota_text{
        font-size: 22px;
        color: #FC766B;
        margin: 0 25px 0 25px;
        .number{
          margin-left: 35px;
        }
      }
    }
  }
  //提示
  .tips{
    box-sizing: border-box;
    @include wh(100%,260px);
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #fff;
    .text{
      margin-top: 20px;
      letter-spacing: 1px;
      font-size: 28px;
      color: #333333;
      font-weight: bold;
    }
    .img{
      @include wh(694px,207px);
    }
  }
  //权益
  .member_equity{
    margin:20px 0 0 0;
    background-color: #fff;
    @include wh(100%,485px);
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #fff;
    position: relative;
    .member_price_b{
      @include wh(100%,68px);
      box-shadow: 0 -1px 4px 0 rgba(213,168,168,0.50);
      border-radius: 12px;
      background: #FFFFFF;
      position: absolute;
      bottom: 0;
    }
    .equity_text{
       margin: 35px 0 35px 0;
       font-weight: bold;
     }
    .img_eq{
      @include wh(600px,160px);
    }
    .img_price{
      margin: 25px 0 0 0;
      @include wh(630px,180px);
    }
    .member_price{
      width:100%;
      .img_price{

      }
    }
  }
  //banner
  .member_banner{
    box-sizing: border-box;
    margin-top: 20px;
    .swiper-img,img {
      height: 128px!important;
      width: 100%;
    }
  }
  //商城
  .member_shop{
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    .banner_shop{
     width: 100%;
      text-align: center;
      margin: 16px 0 10px 0;
      .img{
        @include wh(700px,174px);
      }
    }
    .goods_img{
      @include fj(space-bewteen);
      justify-content: center;
      .img{
        @include wh(337px,429px);
        margin: 5px 10px;
      }
    }
    .bottom_img{
      margin-top: 50px;
      .img{
        @include wh(100%,97px)
      }
    }
    .top{
      width: 100%;
      background-color: #fff;
      height: 80px;
      .title{
        width:708px;
        margin: 0 auto;
        background: #FFFFFF;
        box-shadow: 0 3px 9px 2px rgba(202,182,182,0.50);
        border-radius: 12px;
        height: 80px;
        line-height: 80px;
        @include fcc(center);
        position: relative;
        .img{
          @include wh(96px,33px);
          position:absolute;
          right: 10px;
        }
        .shop_text {
          text-align: center;
          font-size: 26px;
          color: #333;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }
    }
  }
  .pay_member{
    box-sizing: border-box;
    @include wh(100%,110px);
    background-color: #fff;
    margin: 0 25px 0 0;
    padding-left: 25px;
    box-shadow: inset 0 1px 0 0 #E4E4E4;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    .subtotal{
      font-size: 26px;
      color: #333333;
    }
    .price{
      font-size: 52px;
      color: #FC766B;
      margin-left: 20px;
      .bol{
        font-size: 24px;
      }
      .nian{
        font-size: 25px;
        color: #848A8E;
      }
    }
    .agreement{
      font-size: 22px;
      color: #848A8E;
    }
    .pay_btn{
      @include wh(345px,80px);
      background-image: linear-gradient(90deg, #FA4E62 0%, #FC766B 100%);
      border-radius: 100px;
      border: none;
      font-size: 32px;
      color: #fff;
      line-height: 80px;
      justify-content: right;
    }
  }
}

.query_modal{
  box-sizing: border-box;
  .at-modal__container{
    @include wh(520px,421px);
    background: #FFFFFF;
    box-shadow: 0 0 10px 4px rgba(176,176,176,0.50);
    border-radius: 22px;
    border: none;
    text-align: center;
    font-size: 32px;
    color: #333333;
    .title{
      font-weight: bold;
    }
    .titles{
      line-height: 60px;
    }
    .online{
      margin-top: 70px;
      .time{
        font-size: 34px;
        color: #FC766B;
      }
    }
    .con{
      width: 100%;
    }
    .confirm{
      margin: 0 auto;
      @include wh(300px,76px);
      background: #FC766B;
      border-radius: 40px;
      color: #fff;
      line-height: 76px;
    }
  }
  //AtModalAction改变flex布局
  .at-modal__footer .at-modal__action{
    display:block;
  }
  //modal header边框
  .at-modal__header::after{
    border: none;
  }
  //footer边框
  .at-modal__footer::before{
    border:none
  }
}
