@import "../../../../styles/mixin";
.search-com {
  //position: relative;
  //position: absolute;
  //top: 0;
  box-sizing: border-box;
  width: 750px;
  //padding: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  .search_r{
    @include wh(638px,auto);
    position: relative;
    background: none;
    border-radius:31px;
    background:rgba(255,255,255,0.78);
    .search-icon {
      @include wh(27px,27px);
      position: absolute;
      top: 33px;
      left: 20px;
      transform: translate(0,-50%);
    }
  }
  .class-img{
    margin:  5px 0 0 30px;
    @include wh(42px,30px);
  }
  .class-text{
    margin:  0 0 0 32px;
    font-size:18px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color: #fff;
  }
  .search-input {
    display: block;
    @include wh(638px,auto);
    height: 64px;
    line-height: 72px;
    box-sizing: border-box;
    padding-left: 70px;
    font-size: 23.49px;
    color: #9F9F9F;
    border-radius:31px!important;
    background: none;
  }
}
