@import "../../styles/mixin";

page {
  background-color: #eee;
}

.coupon-page {
  @include wh(100%, 100%);
  box-sizing: border-box;
  padding: 30px 30px 30px 40px;
}

//.at-tabs__item--active{
//  color: #FC766B;
//}
//.at-tabs__item-underline{
//  background-color:  #FC766B !important;
//}
