@import '../../../../styles/mixin.scss';

.search-plate {
  padding: 40px 30px 0 30px;
  box-sizing: border-box;
  &-title {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    .title {
      font-family: PingFangSC-Regular;
      font-size: 30px;
      color: #999999;
      letter-spacing: 0;
      line-height: 30px;
    }
  }
  &-view {
    display: flex;
    flex-wrap: wrap;
    &-item {
      box-sizing: border-box;
      padding: 10px  16px;
      border: 1Px solid #999999;
      border-radius: 4Px;
      margin-right: 32px;
      margin-bottom: 32px;
      .text {
        font-family: PingFangSC-Regular;
        font-size: 12Px;
        color: #333333;
        line-height: 12Px;
      }
    }
  }
}
