@import "../../../styles/mixin";

.red_claimed{
  //@include wh(100%, 1220px);
  @include wh(100%, 100vh);
  background: #FE4d22 url(../../../images/active_page/bgred_al.png) no-repeat;
  background-size: 100% 100% !important;
  .complete{
    text-align: center;
    width: 100%;
    position: relative;
    top: 870px;
    .complete_img{
      width: 270px;
      height: 96px;
      margin: 0 20px;
    }
  }
}
.red_unclaimed{
  //@include wh(100%, 1220px);
  @include wh(100%, 100vh);
  box-sizing: border-box;
  background: #FE4d22 url(../../../images/active_page/bgred.png) no-repeat;
  background-size:100% 100% !important;
  .confirm{
    text-align: center;
    width: 100%;
    position: relative;
    top: 870px;
    .confirm_button{
      width: 550px;
      height: 102px;
      margin: 0 auto;
      background: #F9BE63;
      border-radius: 53.5px;
      border: none;
      font-size: 56px;
      color: #B33431;
      line-height: 102px;
    }
  }
}
.report_banner{
  @include wh(100%, 175px);
  .swiper-container {
    width: 100%;
    height: 175px;
    .swiper-img,img {
      height: 175px!important;
      width: 100%;
    }
    .banner{
      position: relative;
    }
    .swiper-btn{
      @include wh(140px,45px);
      position: absolute;
      top: 110px;
      right: 50px;
      animation-name: scaleDraw; /*关键帧名称*/
      animation-timing-function: ease-in-out; /*动画的速度曲线*/
      animation-iteration-count: infinite;  /*动画播放的次数*/
      animation-duration: 5s; /*动画所花费的时间*/
    }
    .swiper-text{
      @include wh(330px,45px);
      text-align: right;
      position: absolute;
      color: #fff;
      top: 30px;
      right: 30px;
      .text_t{
        font-size: 35px;
      }
      .text_b{
        font-size: 22px;
      }
    }
  }
}

//放大缩小动画
//@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
//  0%{
//    transform: scale(1);  /*开始为原始大小*/
//  }
//  25%{
//    transform: scale(1.2); /*放大1.1倍*/
//  }
//  50%{
//    transform: scale(1);
//  }
//  75%{
//    transform: scale(1.2);
//  }
//}

