@import "../../styles/mixin";

page {
  background-color: #f7f7f7;
}

.addAddress-page {
  @include wh(100%, 100%);
  .tip-wx{
    text-align: center;
    background: rgb(250, 78, 98);
    color: #fff;
    font-size: 0.25rem;
    padding: 5px 0;
    position: relative;
  }
  .info {
    border-top: 1px #E1E1E1 solid;
    background-color: #fff;
    color: #ccc;
    font-size: 32px;
    padding: 0 30px;
    margin-bottom: 20px;
    .item {
      padding: 15px 0;
      border-bottom: 1px #ddd solid;
    }
    .areaSelect {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 20px;
      font-size: 34px;
    }
    .selectedText {
      padding: 20px 20px;
      color: #000;
    }
    .default {
      @include fj(space-between);
      align-items: center;
      font-size: 32px;
      color: #4A4A4A;
      padding: 15px 0;
    }
  }
  .delete-info {
    background-color: #fff;
    font-size: 32px;
    color: #FC766B;
    padding: 25px 30px;
  }
  .save-button {
    @include rrb();
    color: #fff;
    font-size: 32px;
    margin: 60px 30px;
  }
}
